<div class="row">
  <div class="col-12">
    <h2><%= @board.name %></h2>
    <hr />
    <div class="row g-3">
      <div class="col-md-6">
        Created by: <%= @board.created_by %>
      </div>
      <div class="col-md-6">
        Created on: <%= @board.created_at.strftime(FRIENDLY_TIME_FORMAT) %>
      </div>
      <div class="col-md-8">
        <table class="table table-bordered">
          <tbody class="align-middle text-center">
            <% @board.layout.map do |row| %>
              <tr>
                <% row.map do |cell| %>
                  <td class="minesweeper-cell">
                    <% unless cell.blank? %>
                      <i class="fas fa-bomb"></i>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>


  </div>
</div>